<!DOCTYPE html>

<html lang="en" class="light-style layout-wide  customizer-hide" dir="ltr" data-theme="theme-semi-dark" data-assets-path="~/admin/" data-template="vertical-menu-template-semi-dark">


<!-- Mirrored from demos.pixinvent.com/vuexy-html-admin-template/html/vertical-menu-template-semi-dark/pages-misc-error.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 17 Feb 2024 11:50:36 GMT -->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Error - Pages | Vuexy - Bootstrap Admin Template</title>


    <meta name="description" content="Start your development with a Dashboard for Bootstrap 5" />
    <meta name="keywords" content="dashboard, bootstrap 5 dashboard, bootstrap 5 design, bootstrap 5">
    <!-- Canonical SEO -->
    <link rel="canonical" href="https://1.envato.market/vuexy_admin">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="https://demos.pixinvent.com/vuexy-html-admin-template/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;ampdisplay=swap" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="~/admin/vendor/fonts/fontawesome.css" />
    <link rel="stylesheet" href="~/admin/vendor/fonts/tabler-icons.css" />
    <link rel="stylesheet" href="~/admin/vendor/fonts/flag-icons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="~/admin/vendor/css/rtl/core.css" />
    <link rel="stylesheet" href="~/admin/vendor/css/rtl/theme-semi-dark.css" />
    <link rel="stylesheet" href="~/admin/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/admin/vendor/libs/node-waves/node-waves.css" />
    <link rel="stylesheet" href="~/admin/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/admin/vendor/libs/typeahead-js/typeahead.css" />


    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="~/admin/vendor/css/pages/page-misc.css">

    <!-- Helpers -->
    <script src="~/admin/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="~/admin/js/config.js"></script>

</head>

<body>

    <!-- Content -->
    <!-- Error -->
    <div class="container-xxl container-p-y">
        <div class="misc-wrapper">
            <h2 class="mb-1 mt-4" id="error-title">Error</h2>
            <p class="mb-4 mx-2" id="error-desc">Oops! 😖 An error has occurred.</p>
            <a href="" class="btn btn-primary mb-4" id="btn-back">Back</a>
            <div class="mt-4">
                <img src="~/admin/img/illustrations/page-misc-error.png" alt="page-misc-error" width="225" class="img-fluid">
            </div>
        </div>
    </div>
    <div class="container-fluid misc-bg-wrapper">
        <img src="~/admin/img/illustrations/bg-shape-image-light.png" alt="page-misc-error" data-app-light-img="illustrations/bg-shape-image-light.png" data-app-dark-img="illustrations/bg-shape-image-dark.html">
    </div>
    <!-- /Error -->
    <!-- / Content -->




    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->

    <script src="~/admin/vendor/libs/jquery/jquery.js"></script>
    <script src="~/admin/vendor/libs/popper/popper.js"></script>
    <script src="~/admin/vendor/js/bootstrap.js"></script>
    <script src="~/admin/vendor/libs/node-waves/node-waves.js"></script>
    <script src="~/admin/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/admin/vendor/libs/hammer/hammer.js"></script>
    <script src="~/admin/vendor/libs/i18n/i18n.js"></script>
    <script src="~/admin/vendor/libs/typeahead-js/typeahead.js"></script>
    <script src="~/admin/vendor/js/menu.js"></script>

    <!-- endbuild -->
    <!-- Vendors JS -->
    <!-- Main JS -->
    <script src="~/admin/js/main.js"></script>


    <!-- Page JS -->
    <script>
        const query = window.location.search;
        console.log(query);
        const params = new URLSearchParams(query);
        const statusCode = params.get("code");
        console.log(statusCode);
        if (statusCode == 404) {
            console.log("sadsadas");
            document.getElementById("error-title").innerHTML = "Error 404";
            document.getElementById("error-desc").innerHTML = "Oops! 😖 The requested URL was not found on this server.";
        } else if (statusCode == 500) {
            document.getElementById("error-title").innerHTML = "Error 500";
            document.getElementById("error-desc").innerHTML = "Oops! 😖 Internal Server Error.";
        }

        document.getElementById("btn-back").onclick = function () {
            window.history.back();
        };
    </script>


</body>

</html>

<!-- beautify ignore:end -->
