
<footer class="footer">
    <div class="container-xl wide footer-container">
        <div class="row">
            <div class="col-12 col-md-4 footer-container-left">
                <img src="~/client/img/logo-truyenvv.png" alt="Logo TruyenVV" width="100%" height="auto" class="mb-2" />
                <div class="footer-more mb-2">
                    <a href="#">Liên hệ bản quyền</a>
                    <a href="#">Chính sách bảo mật</a>
                </div>
                <p class="footer-copyright mb-2">Copyright © @DateTime.UtcNow.Year TruyenVV</p>
            </div>
            <div class="col-12 col-md-8 footer-container-right">
                <h3 class="footer-keyword">Từ khóa</h3>
                <ul class="footer-labels">
                    <li class="footer-label"><a href="">Truyện tranh</a></li>
                    <li class="footer-label"><a href="">Truyện tranh online</a></li>
                    <li class="footer-label"><a href="">Đọc truyện tranh</a></li>
                    <li class="footer-label"><a href="">Truyện tranh hot</a></li>
                    <li class="footer-label"><a href="">Truyện tranh hay</a></li>
                    <li class="footer-label"><a href="">Truyện ngôn tình</a></li>
                    <li class="footer-label"><a href="">Manga</a></li>
                    <li class="footer-label"><a href="">Manhwa</a></li>
                    <li class="footer-label"><a href="">Manhua</a></li>
                    <li class="footer-label"><a href="">truyenqq</a></li>
                    <li class="footer-label"><a href="">mi2manga</a></li>
                    <li class="footer-label"><a href="">doctruyen3q</a></li>
                    <li class="footer-label"><a href="">toptruyen</a></li>
                    <li class="footer-label"><a href="">cmanga</a></li>
                    <li class="footer-label"><a href="">vlogtruyen</a></li>
                    <li class="footer-label"><a href="">blogtruyen</a></li>
                    <li class="footer-label"><a href="">truyentranhaudio</a></li>
                    <li class="footer-label"><a href="">vcomic</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
